@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
    .animation-delay-8000 {
        animation-delay: 8s;
    }
    .hero-delay {
        animation-delay: 12s;
    }
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #347deb;
}
